@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Poppins';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #282726;
}

.nav-container a {
  color: white;
}

header {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header ul a {
  display: block;
  padding: .5em 1em 0 1em;
}

.social-header, .hero-design {
  display: none;
}

.hero {
  background: #282726;
  color: white;
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 300px;
  font-weight: bold;
  color: #86817C;
  line-height: 1.2em;
}

.scroll {
  width: 30px;
  height: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #E5D5FA;
  top: 0;
  left: 0;
  z-index: -1;
}

.subtitle {
  text-transform: uppercase;
  font-weight: bold;
  color: #6E00FF;
  letter-spacing: .2em;
  font-size: .85em;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: -.4em;
  display: block;
}

.featured-desc {
  color: #252525;
  margin-bottom: 3em;
  font-size: .9em;
  line-height: 1.8em;
  font-weight: 500;
}

.traitsandwork {
  background: #54504C;
}

.card {
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.skillsandproject-container .card ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 1em;
}

.skillsandproject-container .card ul .skill-icons {
  width: 2em;
  padding: 0;
  margin: 0;
}

.big-heading {
  text-transform: uppercase;
  font-size: 5em;
  color: #86817C;
  margin: -.3em 0 -.5em 0;
  padding: 0;
  text-align: left;
}

.moreongit {
  background: #282726;
  color: white;
  padding: .2em .6em;
  border-radius: 1em;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
          box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2);
}

.skillsandproject-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.skillsandproject-container ul li .icon-container {
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.skillsandproject-container ul li .icon-container.one {
  width: 100px;
}

.skillsandproject-container ul li .icon-container.two {
  width: 100px;
}

.skillsandproject-container ul li .icon-container.three {
  width: 100px;
}

.skillsandproject-container ul li .card-title {
  font-weight: bold;
}

.skillsandproject-container ul li .featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #F7F7F7;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .featured, .portfolio {
    text-align: left;
  }
  .featured, .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left, .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .traitsandwork {
    margin-top: -5em;
    margin-bottom: -10em;
    padding-top: 7em;
  }
  #projects .icon-container {
    height: 150px;
  }
  #projects .skillsandproject-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  #skills .icon-container {
    height: 75px;
  }
  #skills .skillsandproject-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
  }
  #skills .skillsandproject-container ul .card ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  #skills .skillsandproject-container ul .card ul .skill-icons {
    width: 2em;
    padding: 0;
    margin: 0;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portfolio-container img {
    margin-left: 2em;
  }
  .big-heading {
    text-transform: uppercase;
    font-size: 8em;
    color: #86817C;
    margin: -.3em 0 -.5em 0;
    padding: 0;
    text-align: left;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    height: 90vh;
  }
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
  }
  .nav-container header {
    background: #282726;
  }
  header {
    padding: 2em 2em 2em 4em;
  }
  .social-header {
    padding: 2em 4em 2em 0;
    display: block;
  }
  .social-header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 8em;
    float: right;
  }
  section {
    padding: 4em;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background: unset;
    padding: 0;
  }
  .hero .content {
    background: #282726;
    padding: 6em 8em 6em 4em;
    text-align: left;
  }
  .hero .content h1 {
    font-size: 3.5em;
    line-height: 1.2em;
  }
  .meet {
    margin: unset;
    line-height: 1.2em;
  }
  .hero-design {
    display: unset;
    margin-left: -40%;
    margin-top: 10%;
    width: 100%;
    border-radius: 50%;
    z-index: 2;
  }
  .portfolio img {
    float: right;
    max-width: 500px;
  }
  .big-heading {
    text-transform: uppercase;
    font-size: 9em;
    color: #86817C;
    margin: -.3em 0 -.5em 0;
    padding: 0;
    text-align: left;
  }
}

@media only screen and (min-width: 1250px) {
  header {
    padding: 2em 2em 2em 10em;
  }
  .social-header {
    padding: 2em 10em 2em 0;
  }
  section {
    padding: 10em 10em 4em 10em;
  }
  .hero .content {
    padding: 8em 8em 6em 10em;
  }
  .big-heading {
    text-transform: uppercase;
    font-size: 10em;
    color: #86817C;
    position: relative;
    margin: -.3em 0 -.5em 0;
    padding: 0;
    text-align: left;
  }
}

@media only screen and (min-width: 1550px) {
  header {
    padding: 2em 2em 2em 20em;
  }
  .social-header {
    padding: 2em 20em 2em 0;
  }
  section {
    padding: 6em 20em 4em 20em;
  }
  .hero .content {
    padding: 9em 20em 6em 20em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translate(559px, 399px);
            transform: translate(559px, 399px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(559px, 427px);
            transform: translate(559px, 427px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translate(559px, 399px);
            transform: translate(559px, 399px);
    z-index: 5;
  }
  to {
    -webkit-transform: translate(559px, 427px);
            transform: translate(559px, 427px);
  }
}
/*# sourceMappingURL=main.css.map */